html,
body{
    font-family: 'Didot';
    cursor: none;
    scroll-behavior: smooth;
    a:hover{
        cursor: none;
    }
    &.fixed{
        overflow: hidden;
    }
}

.container{
    width: 100%;
    max-width: 1113px;
    margin: 0 auto;
}

.grey-section{
    background-color: $light-grey;
}

.cursor-fx__inner__outside{
    z-index: 9999;
    width: 48px!important;
    height:48px!important;
    padding: 2px;
    &.transparent{
        border-color: transparent!important;
        width: 15px!important;
        height:15px!important;
        transition-timing-function: ease!important;
        transition-duration: 0.5s!important;
        transition-property: color, width, height, border-color!important;
    }
    &.hover{
        border-color: #FF9170 !important;
        width: 15px !important;
        height:15px !important;
        transition-timing-function: ease !important;
        transition-duration: 0.5s !important;
        transition-property: color, width, height, border-color!important;
    }
}

.cross {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 40px;
    height: 40px;
    // border: 1px solid black;
    // border-radius: 100px;
    transform: translateX(-50%);
    z-index: 999;
    cursor: none;
    &:hover {
        cursor: none;
    }

    &.active {
        .crossLineOne {
            .crossLineOne_content {
                transform: translate(0%, 0%);
                transition: 0.4s ease;
                transition-delay: 0.3s;
            }
        }
        .crossLineTwo {
            .crossLineTwo_content {
                transform: translate(0%, 0%);
                transition: 0.4s ease;
            }
        }
    }
}

.crossLineOne,
.crossLineTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
    overflow: hidden;

    &_content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3b4046;
        transform: translate(100%, 0%);
        transition: 0.4s ease;
        transition-delay: 0.3s;
    }
}   

.crossLineTwo {
    transform: translate(-50%, -50%) rotate(45deg);
    &_content {
        transform: translate(-100%, 0%);
        transition: 0.4s ease;
    }
}
.nuxt-progress{
    display: none;
}

#cursor{    
    transition: width 0.35s ease,
    height 0.35s ease !important;
    mix-blend-mode: normal!important;
    transform-origin: center;
    z-index: 99;
}
.cursorHover {
    width: 15px !important;
    height: 15px !important;
    top: 15px !important;
    left: 15px !important;
    transform: translate(-20px, -20px);
    transform-origin: center;
    transition: width 0.35s ease, height 0.35s ease !important;
}

.sparkle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-size: 40px;
    background-position: 50% 50%;

    &.sparkle-1 {
        background-image: url('../images/sparkles/sparkle-1.svg');
    }

    &.sparkle-2 {
        background-image: url('../images/sparkles/sparkle-2.svg');
    }

    &.sparkle-3 {
        background-image: url('../images/sparkles/sparkle-3.svg');
    }

    &.sparkle-4 {
        background-image: url('../images/sparkles/sparkle-4.svg');
    }

    &.sparkle-5 {
        background-image: url('../images/sparkles/sparkle-5.svg');
    }

    &.sparkle-6 {
        background-image: url('../images/sparkles/sparkle-6.svg');
    }

    &.sparkle-7 {
        background-image: url('../images/sparkles/sparkle-7.svg');
    }

    &.sparkle-8 {
        background-image: url('../images/sparkles/sparkle-8.svg');
    }

    &.sparkle-9 {
        background-image: url('../images/sparkles/sparkle-9.svg');
    }

    &.sparkle-10 {
        background-image: url('../images/sparkles/sparkle-10.svg');
    }

    &.sparkle-11 {
        background-image: url('../images/sparkles/sparkle-11.svg');
    }

    &.sparkle-12 {
        background-image: url('../images/sparkles/sparkle-12.svg');
    }
}

    .slick-track{
        height: 100vh;
        display: flex;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    .slick-slide {
        overflow: hidden;
        height: 70vh;
        outline: none;
        @media (max-width : 780px) {
            height: 60vh;
        }
        @media (max-width : 680px) {
            height: 40vh;
        }
    }

    .slick-slide {
        & > div{
            display: flex;
            height: 100%;
            justify-content: center;
        }
    }

    .slick-cloned {
        transition: 0.6s ease-in-out;
        cursor:pointer;
        &.hover {
            transform: translateX(30px)!important;
            transition: 0.6s ease-in-out;
        }
    }
    .slick-current {
        &+div{
            transition: 0.6s ease-in-out;
            cursor:pointer;
            &.hover {
                transform: translateX(-30px)!important;
                transition: 0.6s ease-in-out;
            }
        }
    }

    